body{
    margin: 0;
    height: 100%;
    background-image: url(image/bg.jpg);
    /*设置自定义鼠标图片指针*/
    cursor: url(image/cursor.png),auto;
    /*用户点击老鼠，不会选中图片*/
    -moz-user-select: none;
    -webkit-user-select: none;
}

table{
    /*border: 2px solid red;*/
    /*边框线折叠：两条线折成一条线*/
    border-collapse: collapse;
    margin: 0 auto;
}

td{
    /*border: 2px solid red;*/
    width: 200px;
    height: 200px;
    background-image: url(image/hole.png);
    /*背景图片不重复*/
    background-repeat: no-repeat;
    /*背景图片大小：宽度，高度*/
    background-size: 150px 50px;
    /*背景图片位置：底部*/
    background-position: bottom;
    /*左右居中*/
    text-align: center;
    /*垂直对齐方式
    vertical-align: bottom;*/
}

img{
    width: 100px;
    height: 90px;
    /*相对定位：相对于原位置进行微调*/
    position: relative;
    top: 40px;

    transition: all 0.3s linear;

    transform: scale(1,0);
    /*变形原点*/
    transform-origin: 50% 100%;
}

.show{
    transform: scale(1,1);
}

#score{
    position: absolute;
    width: 150px;
    height: 50px;
    font-size: 30px;
    /*粗体加黑*/
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 50px;
    top: 20px;
    margin: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}